<p id="notice"><%= notice %></p>

<h1>List of Episodes</h1>
<br>

<% @episodes.each do |episode| %>
  <h2><%= link_to episode.title, episode %></h2>
  <hr>
<% end %>

<br>

<%= link_to 'New Episode', new_episode_path %>
