<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @episode.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>

<% if current_user_subscribed? %>
  Our secret video
<% else %>
  <%= link_to 'Subscribe to Watch', new_subscription_path, class: 'btn btn-secondary' %>
<% end %>
